# Gemini AI
GEMINI_API_KEY=AIzaSyD32yLV3d-Ox8mBVQAOv3HWjH3x_4O_CcA

# Firebase
VITE_FIREBASE_PROJECT_ID=pragatipathproduction
VITE_FIREBASE_APP_ID=1:728431712040:web:77a0e6bd6db33a6788221d
VITE_FIREBASE_API_KEY=AIzaSyCzmo7DfCOkgoNPal4ZqVMBAiO9PrWHx8s
VITE_FIREBASE_AUTH_DOMAIN=pragatipathproduction.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=pragatipathproduction.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=728431712040
VITE_FIREBASE_FIRESTORE_DB=(default)

# App URL (Firebase Hosting)
VITE_APP_URL=https://pragatipathproduction.web.app
